.contactStudent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #426082;
    * {
        margin: 0;
        padding: 0;
    }
    .logbox {
        padding: 10px;
        width: 80%;
        min-width: 330px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #426082;
        h1 {
            width: 100%;
            text-align: center;
            font-size: 1.4em;
            font-weight: 300;
            padding: 10px;
            border: 1px solid rgba(115,159,190,0.85);
            font-family: "Open Sans", Helvetica, sans-serif;
            color: rgb(219, 232, 247);
            letter-spacing: 1.2px;
            word-spacing: 6px;
            margin-bottom: 10px;
        }
        textarea {
            border: none;
            background-color: rgba(115,159,190,1);
            width: 90%;
            max-width: 90%;
            max-height: 240px;
            padding: 15px;
            color: #2e4055;
        }
        ::-webkit-input-placeholder {
            color: #2e4055;
        }
        :-moz-placeholder {
            color: #2e4055;
            opacity: 1;
        }
        ::-moz-placeholder {
            color: #2e4055;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: #2e4055;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            input{
                background-color: transparent;
                border: 1px solid rgba(115,159,190,1);
                color: rgb(219, 232, 247);
                padding: 5px 10px;
                margin: 20px;
            }
            input:hover{
                background-color:lighten(#739fbe, 8%);
            }
        }
    }
}
