.simplonPicture {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/simplonBaHori.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
        letter-spacing: 0.10em;
        font-weight: bold;
    }
}
.adressSimplon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.contactDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    .contactForm {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-right: 60px;
        padding-left: 60px;
        width: 100%;
        min-width: 550px;
        animation-duration: 0.8s;
        height: 700px;
        margin-bottom: 30px;
        border-right: 1px solid black;

        h1 {
            font-size: 1.5em;
            font-family: 'Lato', calibri, arial;
            text-align: center;
            color: black;
            line-height: 1.6em;
        }

        p {
            font-style: italic;
            text-align: center;
            color: black;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 40%;
            height: 600px;
            margin-top: 30px;
            color: black;
            padding: 30px;
            border: 1px dashed  #DE5B49;
        }

        input,
        textarea {
            padding: 5px;
            font-family: 'Lato', calibri, arial;
            font-size: 0.9em;
            font-weight: 300;
            color: black;
            background-color: transparent;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 1px solid rgb(162, 162, 162);
            margin-bottom: 15px;
        }

        input:focus,
        textarea:focus {
            background-color: 0.333;
            border-bottom: 1px solid #DE5B49;
            outline: none;
        }

        textarea {
            height: 130px;
            max-width: 100%;
        }

        .submit-button {
            font-family: 'Lato', calibri, arial;
            font-size: 0.8em;
            font-weight: 300;
            width: 100px;
            background-color: transparent;
            border: 3px solid #DE5B49;
            transition: all 0.2s ease-in-out;
        }

        .submit-button:hover {
            background-color: #DE5B49;
            transition: all 0.2s ease-in-out;
            color: black;
        }
    }

    .mapContact {
        width: 90%;
        height: 45vh;
        margin: 36px;
        #googleMap {
            width: 100%;
            height: 100%;
        }
    }
}
//.simplonPicture {
//    * {
//        padding: 0;
//        margin: 0;
//    }
//    min-height: calc(100vh - 112px);
//    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/simplonContact.jpg");
//    background-position: center;
//    background-size: cover;
//    background-repeat: no-repeat;
//    display: flex;
//    justify-content: space-around;
//    align-items: center;
//}
//.adressSimplon {
//    display: flex;
//    justify-content: center;
//    flex-direction: column;
//    align-items: center;
//    padding: 30px;
//}
//.contactForm {
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    align-items: center;
//    background-color: rgba(0, 0, 0, 0.85);
//    padding-top: 30px;
//    padding-right: 60px;
//    padding-left: 60px;
//    width: 33%;
//    min-width: 550px;
//    animation-duration: 0.8s;
//    margin: 10px;
//    h1 {
//        font-size: 1.5em;
//        font-family: 'Lato', calibri, arial;
//        text-align: center;
//        color: white;
//        line-height: 1.6em;
//    }
//    p {
//        font-style: italic;
//        text-align: center;
//        color: white;
//    }
//    form {
//        display: flex;
//        flex-direction: column;
//        width: 90%;
//        margin-top: 30px;
//    }
//    input,
//    textarea {
//        padding: 5px;
//        font-family: 'Lato', calibri, arial;
//        font-size: 0.9em;
//        font-weight: 300;
//        color: #fff;
//        background-color: transparent;
//        border-top: 1px solid transparent;
//        border-left: 1px solid transparent;
//        border-right: 1px solid transparent;
//        border-bottom: 1px solid #c4c2c2;
//        margin-bottom: 15px;
//    }
//    input:focus,
//    textarea:focus {
//        background-color: 0.333;
//        border-bottom: 1px solid #fff;
//        outline: none;
//    }
//    textarea {
//        height: 130px;
//        max-width: 100%;
//    }
//    .submit-button {
//        font-family: 'Lato', calibri, arial;
//        font-size: 0.8em;
//        font-weight: 300;
//        width: 100px;
//        background-color: transparent;
//        border: 1px solid #fff;
//        transition: all 0.1s ease-in-out;
//    }
//    .submit-button:hover {
//        background-color: white;
//        color: black;
//    }
//}
//@media screen and (max-width: 640px) {
//    .contactForm {
//        min-width: 360px;
//        display: flex;
//        flex-direction: column;
//        justify-content: space-between;
//        align-items: center;
//        background-color: rgba(0, 0, 0, 0.70);
//        padding-top: 30px;
//        padding-right: 20px;
//        padding-left: 20px;
//        width: 33%;
//        margin: 30px;
//        h1 {
//            font-size: 1.2em;
//        }
//    }
//}
