body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: white;
  height: $full-height;

  .nav-container{
    padding: 0 7%;
    background-color: $navbar-color;
    display: flex;
    height: $nav-height;
    justify-content: space-between;
    align-items: center;
    overflow: visible;

    .page-container-left{
      justify-content: space-between;
      align-items: center;
      width: 400px;
    }
    a{
      // margin: 20px;
    }

    .sign-container-right{
      justify-content: space-between;
      align-items: center;
      width: 200px;
      .sign-up{
        padding: 7px 12px;
        border: solid 1px white;
      }
    }

    .burger-menu-icon, .user-icon, .burger-menu_close{
      height: 30px;
    }
    .burger-menu_close{
      margin-bottom: 20px;
    }

    .burger-menu{
      flex-direction: column;
      align-items: flex-start;
      height: $full-height;
      background-color: $navbar-color;
      color: white;
      width: 60%;
      padding: 20px 20px;
      top: 0;
      left: 0;
      a{
        font-size: 2em;
        margin: 20px 0;
      }
    }
  }

  .footer-container{
    background-color: $footer-color;
    height: $footer-height;
    width: $full;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;

    .footer_item-container{
      width: 350px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .logo, .facebook-icon, .twiter-icon, .google-icon{
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-size:contain;
      z-index: 5;
      width: 15px;
      height: 15px;
    }

    .logo{
      background-image:url(../images/logoSimplon.png);
      width: 25px;
      height: 20px;
    }
    .facebook-icon{
      background-image:url(../images/facebook-logo-button.png);
    }
    .twiter-icon{
      background-image: url(../images/twitter.png);
    }
    .google-icon{
      background-image: url(../images/google-plus.png);
    }
  }
}
}
