body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: white;

  .nav-container{
    padding: 0 7%;
    background-color: $navbar-color;
    display: flex;
    height: $nav-footer-height;
    justify-content: space-between;
    align-items: center;

    a{
      color: white;
      text-decoration: none;
      margin: 20px;
    }

    .page-container-left{

    }
    .sign-container-right{
      .sign-up{
        padding: 10px 20px;
        border: solid 1px white;
      }
    }
  }

  .footer-container{
    background-color: $footer-color;
    height: $nav-footer-height;
    width: $full;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;

    .footer_item-container{
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo, .facebook-icon, .twiter-icon, .google-icon{
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      z-index: 5;

    .logo{
      background-image:url(../images/logoSimplon.png);
      width: 40px;
      height: 32px;
    }
    .facebook-icon{
      background-image:url(../images/facebook-logo-button.png);
    }
    .twiter-icon{
      background-image: url(../images/twitter.png);

    }
    .google-icon{
      background-image: url(../images/google-plus.png);
    }
  }
}
}
