p{
	margin: 0px;
	color: white;
}

.main-contrainer-profil{
	display: flex;
	flex-direction: row;
	
	height: 82vh;

	.container-left{
		width: 50%;
		background-color: #324D5C;
	}
	
	.container-middle{

		.container-text{
			display: flex;
			flex-direction:column;
			align-items:center;
		}

		display: flex;
		flex-direction:column;
		justify-content:space-around;
		align-items: center;
		width: 20%;
		background-color: #333333;
		position: absolute;
		left: 40%;
		height: 60%;

		.photo-student{
			background: url(../images/kev.jpg) no-repeat center;
			background-size: cover;
			height: 150px;
			width: 150px;
			border: solid 2px;
			border-color: white;
			border-radius: 50%;
		}

		.container-link{
			display: flex;
			width: 75%;
			justify-content:space-around;

			.github-logo{
				background: url(../images/github.png) no-repeat center;
				background-size: cover;
				height: 40px;
				width: 40px;
			}

			.linkedin-logo{
				background: url(../images/linkedin.png) no-repeat center;
				background-size: cover;
				height: 40px;
				width: 40px;
			}
		}

		.cv-logo{
			
			background: url(../images/link.png) no-repeat center;
			background-size: cover;
			height: 60px;
			width: 60px;
		}

	}

	.container-rigth{
		width: 50%;
		background-color: #68A0BF;
			}

	.button-contact{
		width:20%;
		height:  10%;
		background-color: #DE5B49;
		position: absolute;
		left: 40%;
		bottom: 21%;
	}
}