.cont-simplon-description{	
	height: 100%;

	.cont-img-description{
		background: url("../images/simplonContact2.jpg") no-repeat center;
		background-size: cover;
		height: 1000px;
		width: 100%;
		}

}