.cont-simplon-description{
	height: 300vh;

	.cont-img-description{
		background: url("../images/simplonContact2.jpg") no-repeat center;
		background-size: cover;
		min-height: calc(100vh - 112px);
		width: 100%;
		}

}
