.searchPage {
    display: flex;
}
.cardPage {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #40475A;
    * {
        font-family: 'Lato', calibri, arial;
    }
    .card {
        margin: 10px;
        min-width: 250px;
        width: 15%;
        height: 400px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        text-align: center;
        color: #40475A;
        cursor: pointer;
        transition: 0.2s all;
        .topCard {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .botCard {
            background-color: rgb(228, 226, 226);
            border-top: 1px solid #40475A;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    .card:hover {
        background-color: rgb(203, 203, 203);
        transition: 0.2s all;
    }
}
.searchBar {
    display: flex;
    min-height: 100vh;
    width: 100%;
}
.flex {
    display: flex;
    height: 100%;
}
.inputForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 59px;
    input {
        width: 100%;
        height: 57px;
        border-radius: 0;
        border: none;
    }
    .searchImage {
        background-image: url('../images/magnifying-glass.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 40px;
        width: 30%;
        margin: auto;
    }
}
.studentPic {
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #40475A;
    img {
        height: 100%;
        width: auto;
    }
}
.filterMain {
    height: 99%;
    min-height: 100vh;
    width: 315px;
}
.filterRight {
    height: 100%;
    display: block;
}
.filterChoice {
    display: flex;
    height: 100%;
    .filterTheme {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .promo {
            background-color: #2E3E53;
            min-height: 130px;
            width: 130px;
            background-image: url('../images/placeholder.png');
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            .triangle {
                position: absolute;
                left: 127px;
                top: 25px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 40px 0 40px 40px;
                border-color: transparent transparent transparent #2E3E53;
            }
        }
        .langage {
            background-color: #425877;
            min-height: 130px;
            width: 130px;
            background-image: url('../images/code.png');
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            .triangle {
                position: absolute;
                left: 127px;
                top: 25px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 40px 0 40px 40px;
                border-color: transparent transparent transparent #425877;
            }
        }
        .contrat {
            background-color: #BBC1C6;
            min-height: 130px;
            width: 130px;
            background-image: url('../images/contract.png');
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            .triangle {
                position: absolute;
                left: 127px;
                top: 25px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 40px 0 40px 40px;
                border-color: transparent transparent transparent #BBC1C6;
            }
        }
        .gradient {
            height: 100%;
            width: 130px;
            background: rgb(187, 193, 198);
            background: -moz-linear-gradient(90deg, rgb(187, 193, 198) 0%, rgb(247, 247, 247) 28%);
            background: -webkit-linear-gradient(90deg, rgb(187, 193, 198) 0%, rgb(247, 247, 247) 28%);
            background: -o-linear-gradient(90deg, rgb(187, 193, 198) 0%, rgb(247, 247, 247) 28%);
            background: -ms-linear-gradient(90deg, rgb(187, 193, 198) 0%, rgb(247, 247, 247) 28%);
            background: linear-gradient(180deg, rgb(187, 193, 198) 0%, rgb(247, 247, 247) 28%);
        }
    }
}
.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 184px;
    background-color: #7B8C8C;
    .buttonFilterOff {
        width: 100%;
        height: 25px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: white;
    }
    .buttonFilterOn {
        width: 100%;
        height: 25px;
        border: none;
        cursor: pointer;
        background-color: white;
    }
    .buttonFilterOn:hover {
        background-color: white;
    }
}
@media screen and (max-width: 640px) {
    .searchPage {
        width: 100%;
        .searchBar {
            width: 100%;
            min-height: 200px;
            display: flex;
            flex-direction: column;
        }
    }
    .filterChoice {
        width: 100%;
        height: auto;
        .filterTheme {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            height: 80px;
            .promo {
                min-height: 80px;
                width: 100%;
                .triangle {
                    display: none;
                }
            }
            .langage {
                min-height: 80px;
                width: 100%;
                .triangle {
                    display: none;
                }
            }
            .contrat {
                min-height: 80px;
                width: 100%;
                .triangle {
                    display: none;
                }
            }
            .gradient {
                display: none;
            }
        }
    }
    .filterMain {
        width: 100%;
        height: auto;
        min-height: auto;
    }
    .flex {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .filter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        background-color: #7B8C8C;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 0.8em;
        .buttonFilterOff {
            width: 150px;
            height: 25px;
            border: none;
            cursor: pointer;
        }
        .buttonFilterOn {
            width: 150px;
            height: 25px;
            cursor: pointer;
        }
        .buttonFilterOn:hover {
            background-color: white;
        }
    }
    .filterRight {
        height: auto;
        display: none;
    }
}
.cardPage {}
.sticktotop {
    position: fixed;
    top: 0;
}
.marginToFix {
    margin-left: 314px;
}
