.searchPage {
    display: flex;
    justify-content: space-between;
    .searchBar {
        width: 20%;
        min-width: 300px;
        background-color: #DE5B49;
        .inputForm {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #212020;
            height: 60px;

            input {
                width: 100%;
                height: 57px;
                border-radius: 0;
                border: none;
            }
            .searchImage {
                background-image: url('../images/magnifying-glass.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 40px;
                width: 30%;
                margin: auto;

            }
        }
    }
    .cardPage {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        min-height: 1000px;
        background-color: #212020;
        .card {
            width: 33%;
            min-width: 350px;
            height: 400px;
            background-color: #324D5C;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;
            flex-grow: 1;
            text-align: center;
        }
        .cardBis {
            width: 33%;
            min-width: 350px;
            height: 400px;
            background-color: #68A0BF;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;
            flex-grow: 1;
            text-align: center;
        }
    }
}
@media screen and (max-width: 800px) {
    .searchPage {
        display: flex;
        flex-direction: column;
        .searchBar {
            min-height: 200px;
            background-color: #DE5B49;
            width: 100%;
        }
        .cardPage {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            .card {
                width: 33%;
                min-width: 400px;
                height: 400px;
                background-color: #324D5C;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                flex-wrap: wrap;
                flex-grow: 1;
                text-align: center;
            }
            .cardBis {
                width: 33%;
                min-width: 400px;
                height: 400px;
                background-color: #68A0BF;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                flex-wrap: wrap;
                flex-grow: 1;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .searchPage {
        display: flex;
        flex-direction: column;
        .searchBar {
            min-height: 200px;
            width: 100%;
        }
        .cardPage {
            width: 100%;
            .card {
                width: 33%;
                min-width: 400px;
                height: 400px;
            }
            .cardBis {
                width: 33%;
                min-width: 400px;
                height: 400px;
            }
        }
    }
}
