.signInUp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #425877;
    .logbox {
        padding: 10px;
        width: 80%;
        min-width: 330px;
        background-color: #fff;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #425877;
        h1 {
            text-align: center;
            font-size: 2em;
            font-weight: 300;
            padding: 20px;
            margin-bottom: 100px;
            border: 1px solid rgba(115,159,190,0.85);
        }
        a,
        h1,
        input {
            font-family: "Open Sans", Helvetica, sans-serif;
            color: white;
        }
        input {
            font-size: 1.1em;
            background-color: #425877;
            color: white;
        }
        a {
            font-style: italic;
            text-align: right;
            cursor: pointer;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .inputSign {
            width: 75%;
            height: 50px;
            margin: 0 auto 15px;
            padding: 0 15px;
            border: none;
            border-bottom: 1px solid rgba(115,159,190,0.85);
        }
        .inputSignError {
            width: 75%;
            height: 50px;
            margin: 0 auto 15px;
            padding: 0 15px;
            border: none;
            border-bottom: 2px solid #e05e5e;
        }
        .inputSignError:focus {
            outline: none;
            border-bottom-color: #e05e5e !important;
        }
        .inputSignError:hover {
            border-bottom-color: #e05e5e;
        }
        .inputSign:focus {
            outline: none;
            border-bottom: 1px solid #ebebeb !important;
            color: white !important;

        }
        .inputSign:hover {
            border-bottom: 1px solid rgba(144, 187, 217, 0.85);
        }
        .inputSign:invalid {
            box-shadow: none;
        }
        .inputButton {
            width: 85%;
            height: 50px;
            margin: 30px auto;
            color: white;
            background-color: rgba(115,159,190,0.85);
            border: none;
        }
        .inputButton:focus {
            outline: none;
        }
    }
}
