.signInUp {
    display: flex;
    justify-content: center;
    align-items: center;
    .logbox {
        padding: 10px;
        width: 80%;
        min-width: 330px;
        background-color: #fff;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            text-align: center;
            font-size: 2em;
            color: #757575;
            font-weight: 300;
            padding-bottom: 50px;
        }
        h1,
        input, a {
            font-family: "Open Sans", Helvetica, sans-serif;
        }
        input{
          font-size: 1.5em;
        }
        a{
          font-style: italic;
          color: #757575;
          text-align: right;
          cursor: pointer;
        }
        form{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          height: 80%;
        }
        .inputSign {
            width: 75%;
            height: 50px;
            margin: 0 auto 15px;
            padding: 0 15px;
            border: none;
            border-bottom: 2px solid #ebebeb;
        }
        .inputSignError {
            width: 75%;
            height: 50px;
            margin: 0 auto 15px;
            padding: 0 15px;
            border: none;
            border-bottom: 2px solid #e05e5e;
        }
        .inputSignError:focus {
            outline: none;
            border-bottom-color: #e05e5e !important;
        }
        .inputSignError:hover {
            border-bottom-color: #e05e5e;
        }
        .inputSign:focus {
            outline: none;
            border-bottom-color: #3CC !important;
        }
        .inputSign:hover {
            border-bottom-color: #dcdcdc;
        }
        .inputSign:invalid {
            box-shadow: none;
        }
        .inputButton {
            width: 85%;
            height: 50px;
            margin: 30px auto;
            color: white;
            background-color: rgba(#58cbcb, 1);
            border: none;
        }
        .inputButton:focus {
            outline: none;
        }
    }
}
