<div class="container-bo" ng-controller="boCtrl">
	<div class="container-nav-bo">
		<a href=""  ng-click="show = 1">Créer un utilisateur</a>
		<a href="" ng-click="show = 2">Supprimer un utilisateur</a>
		<a href="" ng-click="show = 3">Créer une fiche Simplonien</a>
		<a href="" ng-click="show = 4">Modifier une fiche Simplonien</a>
		<a href="" ng-click="show = 5">Supprimer une fiche Simplonien</a>

	</div>
	<div class="container-interface">
		<form class="container-create-user" ng-submit="createAccount()" ng-show="show==1">
			<h2>Création d'un utilisateur</h2>
	        		<input class="input-style" type="text" ng-model="boCreatePseudo" placeholder="Pseudo utilisateur (+ de 3 caractères)" required>
	        		<input class="input-style" type="password" ng-model="boCreateMdp" placeholder="Mot de passe utilisateur (+ de 6 caractères)" required >
	        		<input class="input-style" type="password" ng-model="boCreateMdpVerif" placeholder="Vérification mot de passe" required>
	        		<p class ="input-style" ng-if="boCreateMdp != boCreateMdpVerif ||  boCreateMdp.length < 6">Les mots de passe ne sont pas identiques ou inférieur à 6 caractères</p>
	        		<input class="input-style" value="Créer un utilisateur" type="submit">

		</form>
		<div class="container-delete-user" ng-show="show==2">
			<h2>Suppression d'un utilisateur</h2>
			<div class="container-title">
				<div class="title">Pseudo</div>
				<div class="title">Permission</div>
			</div>
			<div class="container-users">
				<div class="cont-info" ng-repeat="user in users">
					<p class="cont-pseudo">{{user.pseudo}}</p>
					<p class="cont-perm">{{user.permission}}</p>
					<div class="delete-user" ng-click="deleteItem(user.id)" confirm="Are you sure ?"></div>
				</div>


			</div>
		</div>
		<form class="container-create-student" ng-submit="createSimplonien()" ng-show="show == 3">
			<input class="input-style" placeholder="Nom" type="text" ng-model="boCreateLastName" required>
			<input class="input-style" placeholder="Prénom" ng-model="boCreateName" required>
			<input class="input-style" placeholder="Âge" ng-model="boCreateOld" required>
			<select name="select" class="input-style" ng-model="boCreatePromo" >
	 			<option value="value1">Montreuil</option> 
	  			<option value="value2" selected>Marseille</option>
	  			<option value="value3">Toulouse</option>
			</select>
			<label for="photo">Upload photo</label>
			<input class="input-style" type="file" id="photo"  name="Photo" placeholder="Photo" ng-model="boCreatePhoto" >
			<input class="input-style" placeholder="Tags" ng-model="boCreateTags" required>
			<textarea class="input-style" placeholder="Description" ng-model="boCreateAbout" required></textarea>
			<input class="input-style" placeholder="Sexe" ng-model="boCreateSexe" required>
			<input class="input-style" placeholder="Domaine" ng-model="boCreateDomaine" required>
			<input class="input-style" placeholder="Specialite1" ng-model="boCreateSpeOne"required>
			<input class="input-style" placeholder="Specialite2" ng-model="boCreateSpeTwo"required>
			<input class="input-style" placeholder="Specialite3" ng-model="boCreateSpeThree"required>
			<input class="input-style" placeholder="Github" ng-model="boCreateGithub" required>
			<input class="input-style" placeholder="Linkedin" ng-model="boCreateLinkedin" required>
			<input class="input-style" placeholder="Portfolio" ng-model="boCreatePortfolio">
			<label for="cv">Upload CV</label>
			<input class="input-style" type="file" id="cv"  name="cv" placeholder="CV" ng-model="boCreateCV" >
			<input class="input-style" placeholder="Twitter" ng-model="boCreateTwitter">
			<input class="input-style" placeholder="StackOverFlow" ng-model="boCreateStackOverFlow">
			<input class="input-style" placeholder="Mail" ng-model="boCreateMail" required>
			<input class="input-style" placeholder="Contrat" ng-model="boCreateContrat" required>
			<input class="input-style" placeholder="DatePromo" ng-model="boCreateDatePromo"required="required">
			<input class="input-style" value="Créer une fiche Simplonien" type="submit">
			
		</form>
	</div>

 </div>