<div class="signInUp" ng-controller="signInUpCtrl">
    <div class="logbox" ng-if="signToggle">
        <form class="signup" method="post" action="/signup" name="form">
            <h1>Creer un compte</h1>
            <input type="text" placeholder="Pseudo" pattern="^[\w]{3,16}$" autofocus="autofocus" required class="inputSign" />


            <input data-ng-model='user.password' type="password" ng-class="{'inputSignError' : form.confirm_password.$error.passwordVerify, 'inputSign' : !form.confirm_password.$error.passwordVerify}" name='password' placeholder="Mot de passe" required>
            <input ng-model='user.password_verify' type="password" ng-class="{'inputSignError' : form.confirm_password.$error.passwordVerify, 'inputSign' : !form.confirm_password.$error.passwordVerify}" name='confirm_password' placeholder="Confirmer mot de passe" required data-password-verify="user.password">
            <input type="email" placeholder="Adresse email" class="inputSign" required/>
            <input type="submit" value="Inscription!" class="inputButton"/>
            <a ng-click="logBox()" >Déjà inscrit?</a>
        </form>
    </div>
    <div class="logbox" ng-if="!signToggle">
        <form class="signup" method="post" action="/signup">
            <h1>Connexion</h1>
            <input type="email" placeholder="Adresse email" class="inputSign" required />
            <input type="password" placeholder="Mot de passe" required class="inputSign" />
            <input type="submit" value="Connexion!" class="inputButton" />
            <a ng-click="signBox()">Pas encore inscrit?</a>
        </form>
    </div>
</div>
