<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="signInUp" ng-controller="signInUpCtrl">
          <div class="logbox" ng-if="signToggle">
              <form class="signup" method="post" action="/signup" name="form">
                  <h1>Créer un compte</h1>
                  <input type="text" placeholder="Pseudo" pattern="^[\w]{3,16}$" autofocus="autofocus" required class="inputSign" />


                  <input data-ng-model='user.password' type="password" ng-class="{'inputSignError' : form.confirm_password.$error.passwordVerify, 'inputSign' : !form.confirm_password.$error.passwordVerify}" name='password' placeholder="Mot de passe" required>
                  <input ng-model='user.password_verify' type="password" ng-class="{'inputSignError' : form.confirm_password.$error.passwordVerify, 'inputSign' : !form.confirm_password.$error.passwordVerify}" name='confirm_password' placeholder="Confirmer mot de passe" required data-password-verify="user.password">
                  <input type="email" placeholder="Adresse email" class="inputSign" required/>
                  <input type="submit" value="Inscription!" class="inputButton"/>
                  <a ng-click="logBox()" >Déjà inscrit?</a>
              </form>
          </div>
          <div class="logbox" ng-if="!signToggle">
              <form class="signup" method="post" action="/signup">
                  <h1>Connexion</h1>
                  <input type="email" placeholder="Adresse email" class="inputSign" required />
                  <input type="password" placeholder="Mot de passe" required class="inputSign" />
                  <input type="submit" value="Connexion!" class="inputButton" />
                  <a ng-click="signBox()">Pas encore inscrit?</a>
              </form>
          </div>
      </div>

      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
